body {
  font-family: 'Cairo', sans-serif;
  background-color: rgb(250, 250, 250);
}

h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
}

h2 {
  font-family: 'Encode Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
  padding: 1.1rem;
  display: inline-block;
}

.nav-bar {
  display: inline-block;
}

ol {
  list-style: none;
}

a {
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

header {
  background-color: rgb(77, 35, 110);
}

label {
  display: block;
  padding-bottom: 2%;
  font-size: 1.5rem;
  font-weight: 600;
}

.note {
  padding: 1rem 0;
}

input {
  width: 100%;
  padding: 2%;
  border: solid 1px gainsboro;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 2%;
  border: solid 1px gainsboro;
}

textarea:focus {
  outline-color: purple;
}

img {
  object-fit: contain;
}

button {
  color: white;
  background-color: rgb(104 56 142);
  outline: none;
  border-style: none;
  padding: 1% 2%;
  border-radius: 7%;
  margin: 0 0 5%;
  font-size: 1rem;
}

.column-full.button {
  text-align: end;
}

ul {
  list-style: none;
  padding: 0;
  display: inline;
}

.row.entry-block {
  margin-bottom: 5%;
}
